body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  color: whitesmoke;
}

.container {
  display: flex;
}

.table {
  flex: 2; /* Takes up 2/3 of the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.sidebar {
  flex: 1; /* Takes up 1/3 of the container */
  max-width: 20%; /* Ensure it doesn't exceed 33% */
  margin: 0 10px; /* Add margin as needed */
}

.computer,
.field,
.player,
.score-board {
  margin: 0 10px;
}

.computer-hand,
.field-cards,
.player-hand {
  display: flex;
  justify-content: space-around;
}

.computer-hand div,
.field-cards div,
.player-hand div {
  width: 50px; /* Adjust as needed */
  height: 80px; /* Adjust as needed */
  background-color: lightgray;
  border: 1px solid gray;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/* Additional styling for buttons */
button {
  margin: 0 5px;
  padding: 10px;
}
